<%- include('navigation') -%>

    <!-- Datatable CDN -->
    <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
    <script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.1/css/buttons.dataTables.min.css">
    <script type="text/javascript" language="javascript"
        src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>


    <!-- Button CDNs -->
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.flash.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.html5.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/buttons/1.4.1/js/buttons.print.min.js"></script>


    <div class="container">
        <div class="row m-4">
            <div id="" class="table-responsive dataTable ">
                <div class="table table-bordered courseTable">
                    <table id="admin-table" class="table-sm">
                        <thead>
                            <th>Admin ID</th>
                            <th>Admin Full Name</th>
                            <th>Admin Name</th>
                            <th>Admin Contact Number</th>
                            <th>Action</th>

                        </thead>
                        <tbody>
                            <% for(let i=0; i<adminData.length; i++) { %>
                                <tr>
                                    <td>
                                        <%= adminData[i].admin_id %>
                                    </td>
                                    <td>
                                        <%= adminData[i].admin_full_name %>
                                    </td>
                                    <td>
                                        <%= adminData[i].admin_user_name %>
                                    </td>
                                    <td>
                                        <%= adminData[i].admin_contact_number %>
                                    </td>
                                    <td>
                                        <button id="update-admin-<%= adminData[i].admin_id %>"
                                            class="updateDelete btn btn-success btn-sm"><i class="fa fa-pencil"
                                                aria-hidden="true"></i></button>
                                        <button id="delete-admin-<%= adminData[i].admin_id %>"
                                            class="updateDelete btn btn-danger btn-sm"><i class="fa fa-trash"
                                                aria-hidden="true"></i></button>
                                    </td>
                                </tr>
                                <% } %>
                        </tbody>
                    </table>
                </div>
            </div>
            <!-- Course datatable ends -->
        </div>
    </div>


    <script>
        $(document).ready(function () {
            var table = $("#admin-table").DataTable();
        })
    </script>