<%- include('../partials/commonheader') -%>

    <%- include('navigation') -%>

        <!-- Modal -->
        <div class="modal fade" id="adminRegistrationModal" tabindex="-1" role="dialog"
            aria-labelledby="adminRegistrationModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="adminRegistrationModalLabel">Admin Registration</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <div class="register-container card">
                            <h1 class="register-heading card-header">Admin Registration</h1>
                            <form class="register-form card-body" action="/admin/register" method="POST">
                                <div class="form-floating mb-3">
                                    <label for="admin_user_name">Username</label>
                                    <input type="text" class="form-control" id="admin_user_name" name="admin_user_name"
                                        placeholder="Username" required>
                                </div>
                                <div class="form-floating mb-3">
                                    <label for="admin_password">Password</label>
                                    <input type="password" class="form-control" id="admin_password"
                                        name="admin_password" placeholder="Password" required>
                                </div>
                                <div class="form-floating mb-3">
                                    <label for="admin_full_name">Full Name</label>
                                    <input type="text" class="form-control" id="admin_full_name" name="admin_full_name"
                                        placeholder="Full Name" required>
                                </div>
                                <div class="form-floating mb-3">
                                    <label for="admin_contact_number">Contact Number</label>
                                    <input type="text" class="form-control" id="admin_contact_number"
                                        name="admin_contact_number" placeholder="Contact Number" required>
                                </div>
                                <label for="admin_dob">Date of Birth</label>
                                <div class="form-floating mb-3">
                                    <input type="date" class="form-control" id="admin_dob" name="admin_dob" required>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit" class="btn btn-primary">Register</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Datatable CDN -->
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        <script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.1/css/buttons.dataTables.min.css">
        <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>


        <!-- Button CDNs -->
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

        <div class="container">
            <div class="row m-4">
                <div class="alert alert-primary" role="alert">
                    List of all Admins, you can also add a new Admin by clicking 'Add Admin' button.
                  </div>
                <div id="" class="table-responsive dataTable">
                    <div class="table table-bordered courseTable">
                        <table id="admin-table" class="table-sm">
                            <thead>
                                <th>Admin ID</th>
                                <th>Admin Full Name</th>
                                <th>Admin Name</th>
                                <th>Admin Contact Number</th>
                                <th>Action
                                    <button type="button" class="btn btn-primary" data-toggle="modal"
                                        data-target="#adminRegistrationModal">
                                        Add Admin
                                    </button>
                                </th>

                            </thead>
                            <tbody>
                                <% for(let i=0; i<adminData.length; i++) { %>
                                    <tr>
                                        <td>
                                            <%= adminData[i].admin_id %>
                                        </td>
                                        <td>
                                            <%= adminData[i].admin_full_name %>
                                        </td>
                                        <td>
                                            <%= adminData[i].admin_user_name %>
                                        </td>
                                        <td>
                                            <%= adminData[i].admin_contact_number %>
                                        </td>
                                        <td>
                                            <button id="delete-admin-<%= adminData[i].admin_id %>"
                                                class="updateDelete btn btn-danger btn-sm"><i class="fa fa-trash"
                                                    aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Course datatable ends -->
            </div>
        </div>


        <script>
            $(document).ready(function () {
                var table = $("#admin-table").DataTable();

                /// --------------------------------------------------
                // User Defined functions
                // --------------------------------------------------
                function addLoadingSpinner() {
                    $('#loading-overlay').addClass('loading-overlay');
                    $('#spinner').addClass('spinner');
                }

                function removeLoadingSpinner() {
                    $('#loading-overlay').removeClass('loading-overlay');
                    $('#spinner').removeClass('spinner');
                }
                // -----------------------------------------------
                // -----------------------------------------------

                $('form').submit(function (event) {
                    event.preventDefault();

                    let username = $('#admin_user_name').val().trim();
                    let password = $('#admin_password').val().trim();
                    let fullname = $('#admin_full_name').val().trim();
                    let phone = $('#admin_contact_number').val().trim();
                    let dob = $('#admin_dob').val().trim();

                    addLoadingSpinner();

                    $.ajax({
                        type: 'POST',
                        url: '',
                        data: {
                            username: username,
                            password: password,
                            fullname: fullname,
                            phone: phone,
                            dob: dob,
                        },
                        success: function (resposne) {
                            if (resposne.statusCode == 0) {
                                alert("Admin Registered Succesully, they can login now!");
                                location.reload();
                            } else if (resposne.statusCode == 1) {
                                alert("Username already exists!");
                            } else if (resposne.statusCode == 2) {
                                alert("Unable to add register new admin!");
                            } else {
                                alert("Network error, try again later!");
                            }
                        },
                        error: function (error) {
                            alert("An unknown error has occurred!");
                        },
                        complete: function (status) {
                            removeLoadingSpinner();
                        }
                    })

                })


                $(document).on('click', '.updateDelete', function () {
                    let itemId = $(this).attr('id').split('-');
                    let operationType = itemId[0];
                    if (operationType.includes('delete')) {
                        let confirmOption = confirm("Are you sure to remove admin?");
                        if (confirmOption) {
                            addLoadingSpinner();
                            $.ajax({
                                type: "DELETE",
                                url: '',
                                data: {
                                    adminId: itemId[2]
                                },
                                success: function (resposne) {
                                    if (resposne.statusCode == 0) {
                                        alert("Admin removed successfully!");
                                        location.reload();
                                    } else {
                                        alert("Unable to remove admin.")
                                    }
                                },
                                error: function (error) {
                                    alert("An error has occured");
                                },
                                complete: function (status) {
                                    removeLoadingSpinner();
                                }
                            })
                        }
                    }
                });
            })
        </script>