<%- include('../partials/commonheader') -%>

    <%- include('navigation') -%>

        <!-- Modal -->
        <div class="modal fade" id="addBusModal" tabindex="-1" aria-labelledby="addBusModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="addBusModalLabel">Add Bus</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <form id="addBusForm">
                            <div class="mb-3">
                                <label for="busName" class="form-label">Bus Name</label>
                                <input type="text" class="form-control" id="busName" required placeholder="Red Express">
                            </div>
                            <div class="mb-3">
                                <label for="busNumber" class="form-label">Bus Number</label>
                                <input type="text" class="form-control" id="busNumber" required placeholder="RE-101">
                            </div>
                            <div class="mb-3">
                                <label for="busModel" class="form-label">Bus Model</label>
                                <input type="text" class="form-control" id="busModel" required placeholder="Volvo 8500">
                            </div>
                            <div class="mb-3">
                                <label for="busOrigin" class="form-label">Bus Origin</label>
                                <input type="text" class="form-control" id="busOrigin" required
                                    placeholder="City Center">
                            </div>
                            <div class="mb-3">
                                <label for="busDestination" class="form-label">Bus Destination</label>
                                <input type="text" class="form-control" id="busDestination" required
                                    placeholder="Central Station">
                            </div>
                            <button type="submit" class="btn btn-primary">Add</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- Modal -->
        <div class="modal fade" id="editStopsModal" tabindex="-1" aria-labelledby="editStopsModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="editStopsModalLabel">Edit Stops</h5>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <span><b>Important:</b> <em>
                                Please select the time for each stop in ascending order to correctly order the
                                stops.</span>
                        </em>
                        <hr>
                        <form id="addBusForm">
                            <div class="form-row">
                                <!-- Source Station selection -->
                                <div class="form-group col-6">
                                    <label for="routeDropdown">Select Stops</label>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" value="0" checked disabled>
                                            <span id="origin-station">Source</span>
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group col-3"></div>
                                <!----------------------------------->

                                <!-- Intermediate Routes Selection -->
                                <% for(let i=0; i < routesList.length; i++) { %>
                                    <div class="form-group col-6">
                                        <div class="checkbox">
                                            <label>
                                                <input id="<%= routesList[i].route_id %>" type="checkbox"
                                                    name="selectedRoutes[]" value="<%= routesList[i].route_name %>">
                                                <%= routesList[i].route_name %>
                                            </label>
                                        </div>
                                    </div>
                                    <div class="form-group col-3">
                                        <input name="selectedTimes[]" type="time" class="form-control">
                                    </div>
                                    <hr>
                                    <% } %>

                                        <!-- Source Station selection -->
                                        <!-- <div class="form-row"> -->
                                        <div class="form-group col-6">
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox" value="" checked disabled>
                                                    <span id="destination-station">Destination</span>
                                                </label>
                                            </div>
                                        </div>
                                        <!----------------------------------->

                            </div>
                            <hr>
                            <button type="submit" class="btn btn-primary" id="save-bus-stops">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <!-- Datatable CDN -->
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        <script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.1/css/buttons.dataTables.min.css">
        <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>


        <!-- Button CDNs -->
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

        <div class="container">

            <div class="row m-4">
                <div class="alert alert-primary" role="alert">
                    List of all buses, you can also add a new bus by clicking 'Add Bus' button.
                    <br>
                    It is mandatory to add atleast one intermediate route by clicking the pen icon.
                </div>
                <div id="" class="table-responsive dataTable ">
                    <div class="table table-bordered courseTable">
                        <table id="bus-table" class="table-sm">
                            <thead>
                                <th>Bus ID</th>
                                <th>Bus Name</th>
                                <th>Bus Number</th>
                                <th>Bus Model</th>
                                <th>Bus Source</th>
                                <th>Bus Destination</th>
                                <th>Action
                                    <!-- Button to trigger the modal -->
                                    <button id="add-bus" type="button" class="btn btn-primary" data-bs-toggle="modal"
                                        data-bs-target="#addBusModal">
                                        Add Bus
                                    </button>
                                </th>

                            </thead>
                            <tbody>
                                <% for(let i=0; i<busData.length; i++) { %>
                                    <tr>
                                        <td>
                                            <%= busData[i].bus_id %>
                                        </td>
                                        <td>
                                            <a href="/api/route-detail/<%= busData[i].bus_id %>">
                                                <%= busData[i].bus_name %>
                                            </a>
                                        </td>
                                        <td>
                                            <%= busData[i].bus_number %>
                                        </td>
                                        <td>
                                            <%= busData[i].bus_model %>
                                        </td>
                                        <td>
                                            <%= busData[i].bus_origin %>
                                        </td>
                                        <td>
                                            <%= busData[i].bus_destination %>
                                        </td>
                                        <td>
                                            <button id="update-bus-<%= busData[i].bus_id %>"
                                                class="updateDelete btn btn-success btn-sm"><i class="fa fa-pencil"
                                                    aria-hidden="true"></i></button>
                                            <button id="delete-bus-<%= busData[i].bus_id %>"
                                                class="updateDelete btn btn-danger btn-sm"><i class="fa fa-trash"
                                                    aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>


        <script>
            $(document).ready(function () {
                // User defined metods
                function addLoadingSpinner() {
                    $('#loading-overlay').addClass('loading-overlay');
                    $('#spinner').addClass('spinner');
                }

                function removeLoadingSpinner() {
                    $('#loading-overlay').removeClass('loading-overlay');
                    $('#spinner').removeClass('spinner');
                }

                var table = $("#bus-table").DataTable();

                $('#addBusForm').submit(function (event) {
                    event.preventDefault();

                    let busName = $('#busName').val().trim();
                    let busNumber = $('#busNumber').val().trim();
                    let busModel = $('#busModel').val().trim();
                    let busOrigin = $('#busOrigin').val().trim();
                    let busDestination = $('#busDestination').val().trim();

                    addLoadingSpinner();

                    $.ajax({
                        type: 'POST',
                        url: '', // Specify the URL for handling the form submission
                        data: {
                            busName: busName,
                            busNumber: busNumber,
                            busModel: busModel,
                            busOrigin: busOrigin,
                            busDestination: busDestination,
                        },
                        success: function (response) {
                            if (response.statusCode == 0) {
                                alert("Bus added successfully!");
                                location.reload();
                                // Perform any additional actions after successful submission
                            } else if (response.statusCode == 1) {
                                alert("Bus with same number already exists!");
                            } else if (response.statusCode == 2) {
                                alert("Unable to add bus details!");
                            } else {
                                alert("Netowrk error, try again later!")
                            }
                        },
                        error: function (error) {
                            alert("An unknown error has occurred!");
                        },
                        complete: function () {
                            // Hide the loading overlay
                            removeLoadingSpinner();
                        }
                    });
                });

                $(document).on('click', '#add-bus', function () {
                    $('#addBusModal').modal('toggle');
                })

                $(document).on('click', '.updateDelete', function () {
                    let itemId = $(this).attr('id').split('-');
                    let operationType = itemId[0];
                    if (operationType.includes('delete')) {
                        let confirmOption = confirm("Are you sure to delete bus details?");
                        if (confirmOption) {
                            addLoadingSpinner();
                            $.ajax({
                                type: "DELETE",
                                url: '',
                                data: {
                                    busId: itemId[2]
                                },
                                success: function (resposne) {
                                    if (resposne.statusCode == 0) {
                                        alert("Bus deleted successfully!");
                                        location.reload();
                                    } else {
                                        alert("Unable to delete bus.")
                                    }
                                },
                                error: function (error) {
                                    alert("An error has occured");
                                },
                                complete: function (status) {
                                    removeLoadingSpinner();
                                }
                            })
                        }
                    } else {
                        $('#editStopsModal').modal('toggle');
                        let sourceStation = $(this).closest('tr').find('td:eq(4)').text().trim();
                        let destinationStation = $(this).closest('tr').find('td:eq(5)').text().trim();

                        $('#origin-station').text(sourceStation + ' (Source)');
                        $('#destination-station').text(destinationStation + ' (Destination)');

                        $(document).on('click', '#save-bus-stops', function (event) {
                            event.preventDefault(); // Prevent form submission

                            // Get selected route IDs and Arrival time for each
                            var selectedRoutes = [];
                            var selectedTimes = []
                            $("input[name='selectedRoutes[]']:checked").each(function () {
                                selectedRoutes.push($(this).attr("id"));
                            });

                            $("input[name='selectedTimes[]']").each(function () {
                                if ($(this).val() != '')
                                    selectedTimes.push($(this).val());
                            });

                            console.log(selectedRoutes, selectedTimes);

                            // Validate if proper seletion is made or not
                            if (selectedRoutes.length > selectedTimes.length) {
                                alert("Select Arrival time for each selected stop.");
                                return
                            }else if (selectedRoutes.length < selectedTimes.length){
                                alert("Select Intermediate station for each selected time.");
                                return
                            }

                            // Validate if intermediate stops are selected or not
                            if (selectedRoutes.length < 1) {
                                alert("Select atleast 1 intermediate stop!");
                                return;
                            }

                            // Proceed to make AJAX request
                            let confirmOption = confirm("Are you sure to add selected stops?");
                            if (confirmOption) {
                                addLoadingSpinner();

                                $.ajax({
                                    type: 'PUT',
                                    url: '',
                                    data: {
                                        routesArray: selectedRoutes,
                                        arrivalTimeArray: selectedTimes,
                                        busId: itemId[2]
                                    },
                                    success: function (response) {
                                        if (response.statusCode == 0) {
                                            alert("Stops updated successfully!");
                                            location.reload();
                                        } else {
                                            alert("Unable to update stops!");
                                        }
                                    },
                                    error: function (error) {
                                        alert("An error has occured");
                                    },
                                    complete: function (status) {
                                        removeLoadingSpinner();
                                    }

                                })
                            }
                        })
                    }

                })

            })

        </script>