<%- include('../partials/commonheader') -%>

    <%- include('navigation') -%>

        <!-- Datatable CDN -->
        <link rel="stylesheet" href="//cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
        <script src="//cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>

        <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.4.1/css/buttons.dataTables.min.css">
        <script type="text/javascript" language="javascript"
            src="https://cdn.datatables.net/buttons/1.4.1/js/dataTables.buttons.min.js"></script>


        <!-- Button CDNs -->
        <script type="text/javascript" src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>

        <div class="container">

            <div class="row m-4">
                <div class="alert alert-primary" role="alert">
                    List of all Users, every new user that is being registered will be displayed here.
                    <br>
                    <em>
                        You can delete a users by clicking the bin icon.
                    </em>
                </div>
                <div id="" class="table-responsive dataTable ">
                    <div class="table table-bordered courseTable">
                        <table id="user-table" class="table-sm">
                            <thead>
                                <th>User ID</th>
                                <th>User Full Name</th>
                                <th>User Email</th>
                                <th>User Gender</th>
                                <th>User DOB</th>
                                <th>User Contact Number</th>
                                <th>Action</th>

                            </thead>
                            <tbody>
                                <% for(let i=0; i<userData.length; i++) { %>
                                    <tr>
                                        <td>
                                            <%= userData[i].user_id %>
                                        </td>
                                        <td>
                                            <%= userData[i].user_full_name %>
                                        </td>
                                        <td>
                                            <%= userData[i].user_email %>
                                        </td>
                                        <td>
                                            <%= userData[i].user_gender %>
                                        </td>
                                        <td>
                                            <%= userData[i].user_dob %>
                                        </td>
                                        <td>
                                            <%= userData[i].user_contact_number %>
                                        </td>
                                        <td>
                                            <button id="update-user-<%= userData[i].user_id %>"
                                                class="updateDelete btn btn-success btn-sm"><i class="fa fa-pencil"
                                                    aria-hidden="true"></i></button>
                                            <button id="delete-user-<%= userData[i].user_id %>"
                                                class="updateDelete btn btn-danger btn-sm"><i class="fa fa-trash"
                                                    aria-hidden="true"></i></button>
                                        </td>
                                    </tr>
                                    <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- Course datatable ends -->
            </div>
        </div>


        <script>
            $(document).ready(function () {
                var table = $("#user-table").DataTable();

                // --------------------------------------------------
                // User Defined functions
                // --------------------------------------------------
                function addLoadingSpinner() {
                    $('#loading-overlay').addClass('loading-overlay');
                    $('#spinner').addClass('spinner');
                }

                function removeLoadingSpinner() {
                    $('#loading-overlay').removeClass('loading-overlay');
                    $('#spinner').removeClass('spinner');
                }
                // -----------------------------------------------
                // -----------------------------------------------


            })
        </script>