<%- include('../partials/commonheader') -%>


    <% if( locals.userType.includes('Admin')) { %>
        <%- include('../admin/navigation') -%>
            <% } else if(locals.userType.includes('Driver')) { %>
                <%- include('../driver/navigation') -%>
                    <% } else if(locals.userType.includes('User')) { %>
                        <%- include('../user/navigation') -%>
                            <% } %>

                                <style>
                                    .title {
                                        justify-content: space-between;
                                    }
                                    .card-body{
                                        max-height: 550px;
                                        overflow: scroll;
                                    }
                                </style>

                                <div class="container mt-5">
                                    <div class="alert alert-primary" role="alert">
                                        <h3>
                                            <em>Here, you can view list of all buses and information about each
                                                bus. <br>
                                        </h3>
                                        Click on bus name to view it's path and current status.</em>
                                    </div>
                                    <div class="row justify-content-center">
                                        <div class="m-4">
                                            <form class="form">
                                                <h3 class="title">View Buses
                                                    <div class="dropdown d-inline float-end">
                                                        <button class="btn btn-secondary dropdown-toggle" type="button"
                                                            id="dropdownMenuButton" data-toggle="dropdown"
                                                            aria-haspopup="true" aria-expanded="false">
                                                            <i class="fas fa-info-circle"></i>
                                                        </button>
                                                        <ul class="dropdown-menu dropdown-menu-end"
                                                            aria-labelledby="instructionsDropdown">
                                                            <li>
                                                                <h6 class="dropdown-header">Bus Status Colors:</h6>
                                                            </li>
                                                            <li>
                                                                <hr class="dropdown-divider">
                                                            </li>
                                                            <li><a class="dropdown-item" href="#">
                                                                    <span class="badge badge-primary">Ready or
                                                                        Live</span></a></li>
                                                            <li><a class="dropdown-item" href="#">
                                                                    <span class="badge bg-warning">In Traffic</span></a>
                                                            </li>
                                                            <li><a class="dropdown-item" href="#">
                                                                    <span class="badge bg-success">Arrived</span></a>
                                                            </li>
                                                            <li><a class="dropdown-item" href="#">
                                                                    <span class="badge bg-danger">Stop</span></a></li>
                                                        </ul>
                                                    </div>
                                                </h3>
                                                <div class="card-body">
                                                    <% for(let i=0; i<busData.length; i++ ) { %>
                                                        <div class="form-group">
                                                            <h3><i class="fas fa-bus"></i>
                                                                <a href="/api/route-detail/<%= busData[i].bus_id %>">
                                                                    <span class="input">
                                                                        <%= busData[i].bus_name %>
                                                                    </span>
                                                                </a>
                                                                <span
                                                                    class="pulse-icon <%= busData[i].status %>"></span>

                                                            </h3>
                                                            <ul>
                                                                <li><strong>Bus ID:</strong>
                                                                    <%= busData[i].bus_id %>
                                                                </li>
                                                                <li><strong>Bus Number:</strong>
                                                                    <%= busData[i].bus_number %>
                                                                </li>
                                                                <li><strong>Bus Model:</strong>
                                                                    <%= busData[i].bus_model %>
                                                                </li>
                                                                <li><strong>Bus Origin:</strong>
                                                                    <%= busData[i].bus_origin %>
                                                                </li>
                                                                <li><strong>Currently at:</strong>
                                                                    <span class="badge badge-success">
                                                                        <%= busData[i].current_stop %>
                                                                    </span>
                                                                </li>
                                                                <li><strong>Bus Destination:</strong>
                                                                    <%= busData[i].bus_destination %>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <% } %>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <script>
                                    function updateBusLocations() {
                                        // Make an AJAX request to fetch the live bus locations from the server
                                        $.ajax({
                                            type: 'GET',
                                            url: '/api/get-live-status', // Replace with the actual server endpoint
                                            success: function (response) {
                                                var busDetails = response.busDetails; // Extract the bus details

                                                // Update the bus details table
                                                updateBusDetailsTable(busDetails);
                                            },
                                            error: function (error) {
                                                console.log('Error retrieving live bus locations:', error);
                                            }
                                        });
                                    }

                                    function updateBusDetailsTable(busDetails) {
                                        var tableBody = $('.card-body'); // Get the table body element

                                        // Clear the table body
                                        tableBody.empty();

                                        // Loop through the bus details and append rows to the table
                                        busDetails.forEach(function (bus) {
                                            var busStatusBadge = '<span class="pulse-icon ' + bus.status + '"></span>';

                                            // Create the table row
                                            var row = $('<div class="bus-details mb-3">').append(
                                                $('<h4><i class="fas fa-bus"></i> <a href="/api/route-detail/' + bus.bus_id + '">' + bus.bus_name + '</a>' + busStatusBadge + '</h4>&nbsp;'),
                                                $('<ul>').append(
                                                    $('<li><strong>Bus ID:</strong> ' + bus.bus_id + '</li>'),
                                                    $('<li><strong>Bus Number:</strong> ' + bus.bus_number + '</li>'),
                                                    $('<li><strong>Bus Model:</strong> ' + bus.bus_model + '</li>'),
                                                    $('<li><strong>Bus Origin:</strong> ' + bus.bus_origin + '</li>'),
                                                    $(`<li><strong>Currently at:</strong>
                                                                <span class="badge badge-success">
                                                                    ${bus.current_stop}
                                                                </span>
                                                            </li>`),
                                                    $('<li><strong>Bus Destination:</strong> ' + bus.bus_destination + '</li>')
                                                )
                                            );

                                            // Append the row to the table body
                                            tableBody.append(row);
                                        });
                                    }

                                    setInterval(updateBusLocations, 5000);


                                </script>

                                <%- include('../partials/footer') -%>